.card{
    margin-top: 50px;
    background-color: #1c1c1c;
}
.card__body{
    background-color: #121212;
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    -webkit-box-shadow: 0px 3px 15px -3px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 3px 15px -3px rgba(0,0,0,0.28);
    box-shadow: 0px 3px 15px -3px rgba(0,0,0,0.28);
}
.card__img{
    width: 100%;
    height: auto;

}
.card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.card__title{
    margin-top: 15px;
}
.card__title h3{
    color: #fff;
}
.card__description{
    margin-top: 15px;
}
.card__description p{
    color: #fff;
}
.card__lower{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__price{
    color: #fff;
    margin: 10px 15px 0 0;
}
.card__price span{
    font-size: 20px;
    font-weight: 500;
}
.card__btn{
    margin-top: 15px;
}
.card__btn button{
    border: none;
    outline: none;
    background-color: #512bd4;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}